* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5f7;
  background-image:
    radial-gradient(#444cf7 1.5px, transparent 1.5px),
    radial-gradient(#444cf7 1.5px, #e5e5f7 1.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

#drag-and-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  max-width: 100%;
  height: 200px;
  padding: 1em;
  color: slategray;
  cursor: pointer;
  font-family: "Clarity City", Helvetica, sans-serif;
}

#clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#file-input {
  display: none;
}

.card {
  width: 500px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 30px auto 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card {
  height: 100px;
}

.large-card {
  height: 250px;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Clarity City", sans-serif;
}